<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
        integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>


    <style>
               .card.card-pay {
            display: inline-grid;
        }

        img.vid-ien {
            /* width: 150px; */
            height: 53px;
        }

        .alert.alert-success.text-center {
            height: 60px;
        }

        .col-md-4.footer {
            height: 150px;
            text-align: center;
            /* border: 1px solid; */
            border: 1px solid #dfe6e9;
            transform: scale(0.98)
        }

        .mt-10 {
            margin-top: 20px;
        }

    
        img.img-thumbnail {
    height: 350px;
}
.card.card-box {
    border: 1px solid #dfe6e9;
    margin-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.card-header.discount {
    background: #dfe6e9;
    /* height: 50px; */
    border-top-left-radius: 5px;
    /* text-align: center; */
    padding: 2px;
    border-top-right-radius: 5px;
    font-size: 10px;
    border: 1px solid #b2bec3;
    /* border-radius: 13px; */
}
.card.row {
    width: 350px;
    border: 1px solid #dfe6e9;
    margin-left: -1px;
    border-radius: 10px;
}
        img {
            height: 200px
        }
        img.img-item {
    height: 80px;
    /* border: 1px solid #dfe6e9; */
}
@media only screen and (max-width: 600px) {
    img.img-thumbnail {
        width: 500px;
    height: 400px;
}
.card.row {
    width: 500px;
    border: 1px solid #dfe6e9;
    margin-left: -1px;
    border-radius: 10px;
    display: flex;
}
.card-body.col-md-3 {
    margin-left: 25px;
}
}
        .card.card-pay {
            display: inline-grid;
        }

        img.vid-ien {
            /* width: 150px; */
            height: 53px;
        }

        .alert.alert-success.text-center {
            height: 60px;
        }

        .col-md-4.footer {
            height: 150px;
            text-align: center;
            /* border: 1px solid; */
            border: 1px solid #dfe6e9;
            transform: scale(0.98)
        }

        .mt-10 {
            margin-top: 20px;
        }

        .product-item:hover {
            transform: scale(1)
        }

        .product-item {

            height: 350px;
            border: 1px solid #dfe6e9;
            text-align: center;
            transform: scale(0.98);
            transition: all 1.5s;
        }

        img {
            height: 200px
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">TECH-SHOP</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Trang chủ <span class="sr-only">(current)</span></a></li>
                    <li><a href="#/">Sản Phẩm</a></li>
                    <li><a href="#">Giới Thiệu</a></li>
                    <li><a href="#">Liên Hệ</a></li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <% if(username!==null){%>
                        <li><a href="/Checkout"><i class="fas fa-cart-plus"></i> Giỏ hàng</a></li>
                        <li><a href="#"><%= username %></a></li>
                        <li><a href="/user/logout">Đăng xuất</a></li>
                       
                    <%} else {%>
                        <li><a href="#" data-toggle="modal" data-target="#exampleModal">Đăng Nhập</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#exampleModal2">Đăng Ký</a></li>

                    <li><a href="#"><i class="fas fa-cart-plus"></i> Giỏ hàng</a></li>
                    <%}%>
                    



                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
