.banner{
    background: url('./image/banner.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
}
.menu {
    position: fixed;
    width: 100%;
    padding: 20px 10px;
    background: red;
   z-index: 1;
}
a{
    text-decoration: none;
}
.menu a{
    color: white;
    padding-right: 10px;
    text-transform: uppercase;
  ;
}
.container.menu-top {
    margin-left: 420px;
}
.noidung{
    margin-top:100px
}
.menu.menu-scroll {
    top: 0;
    background: black;
}
.col-md-4.vitrikhoivang.vang {
    position: fixed;
    top: 100px;
    left: 1100px;
}